body.login {

    background-color: #F8F8F8;

    .panel {
        box-shadow: 0 0 150px rgba(0, 0, 0, .15);
    }

    .togglepass {
        color: #999;
    }

    .control-label {
        color: #8F8F8F;
    }
}