.omnisearch {
    // Result.
    .select2-results__option {


        small {

            color: #999;
        }
    }

    // Highlighted result.
    .select2-results__option--highlighted small {
        color : #fff; // better contrast.
    }

    // Input field.
    .select2-search__field {
        color: #000 !important;
        background: #fff !important;
    }
}